body {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

.a {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.a ul {
    margin-top: 2px;
}

::selection {
    background-color: rgb(0, 0, 0);
    color: rgb(102, 32, 216);
}

a:link {
    color: rgb(157, 96, 255);
}

a:hover {
    color: rgb(183, 138, 255);
}

a:visited {
    color: rgb(137, 63, 255);
}

a:active {
    color: rgb(183, 138, 255);
}

h1 {
    margin-top: 20%;
    color: rgb(102, 32, 216)
}

fieldset {
    padding: 5px;
    margin-left: 5%;
    border-color: transparent;
    margin-top: -5px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-top: 10px;
}
  
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
  
details[open] {
    padding: 0.5em;
}
  
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.socials fieldset.mastodon {
    margin-top: -5px;
}

.socials fieldset {
    margin-top: -13px;
} 